@{
    ViewBag.Title = "EmployeeManagementApplication";
}

<div class="jumbotron">
    <h1>Developed By</h1>
    <p class="lead">AmanKumar.</p>
    <p><a href="https://www.google.com" class="btn btn-primary btn-lg">Google &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dedicated To Papa</h2>
        <p>
            I have faith in myself that i can do everything
        </p>
        <p><a class="btn btn-default" href="http://rpsresidentialschool.org/">developer's school details' &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quote of the day</h2>
        <p>Kaun banawat desh mahan. sainik ,shikshak, chhatra aur kisan. </p>
        <p><a class="btn btn-default" href="https://indianarmy.nic.in/">Indian army fans click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Promise of the day</h2>
        <p>Do not throw garbages outide. Cleaniness of outdoor is as essential as your house</p>
        <p><a class="btn btn-default" href="https://swachhbharatmission.gov.in/sbmcms/index.htm">Ek kadam swachhta ki or &raquo;</a></p>
    </div>
</div>